name: PrivateDnsResolver
env:
  subscriptionId: ${{ secrets.SUB_SANDBOX_3 }}
  azureRegion: East US 2
  templateFile: ./AzDnsPrivateR/main.bicep
  parametersFile: ./AzDnsPrivateR/main.parameters.jsonc

# Controls when the workflow will run
on:
  # Workflow will run on upon a commit
  push:
    branches:
      - main
    paths:
      - "AzDnsPrivateR/**.bicep"
      - "AzDnsPrivateR/**.jsonc"

  # Workflow can be triggered manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write             # required for OIDC login to Azure
  pull-requests: write        # required to write the PR comment

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # checkout the repository to the GitHub Actions runner
      - uses: actions/checkout@v3
      
      # log in to Azure using OpenID Connect
      - uses: Azure/login@v1
        name: Login to Azure
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ env.subscriptionId }}
      
      # deploy ARM template
      - uses: Azure/arm-deploy@v1
        name: Deploy bicep file
        with:
          scope: subscription
          deploymentName: 'Github.Actions-${{ github.workflow }}-${{ github.run_number }}'
          subscriptionId: ${{ env.subscriptionId }}
          region: ${{ env.azureRegion }}
          template: ${{ env.templateFile }}
          parameters: ${{ env.parametersFile}}